<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="main.css"></head>
<body>
    <main>
        <usuarios>
            <h1>Usuarios de mi startup</h1>
        </usuarios>
    </main>

    <template id="usuarios-template">
        <div>
            <section class="cabecera">
                <slot></slot>
                <input type="search" placeholder="Filtrar usuarios">
            </section>
            <hr>
            <section class="usuarios">
                <!-- <p v-for="usuario in usuarios">{{ usuario }}</p> -->
                <usuario :datos="usuario" v-for="usuario in usuarios"></usuario>
            </section>
        </div>
    </template>

    <template id="usuario-template">
        <div class="usuario">
            <img :src="datos.foto" :alt="datos.nombre">
            <section>
                <h1>{{ datos.nombre }}</h1>
                <small>{{ datos.correoe }}</small>
            </section>
        </div>
    </template>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>

</html>